@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Base styles */
:root {
    /* Color variables */
    --color-background: #f5f2ee;
    --color-foreground: #3a322e;
    --color-terracotta: #c75d3a;
    --color-earth: #8b5a3c;
    --color-sand: #ecddc8;
    --color-gold: #daa520;
    --color-green: #5d8059;
    --color-muted: #8a857e;
    --color-border: #d9c9b6;
    --color-card: #fefaf7;
}

/* >>>>> FEED APP <<<<< */
    .feedPost{
        width: 100%;

        border: 1px solid var(--color-border);
        border-radius: 20px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 1000px) {
        .feedPost{
            width: 80%;
        }
    }
/*  */


/* >>>>> FEED POST HEADER <<<<< */
    .feedPostHeader{
        width: 100%;
        height: 150px;
        padding: 16px;

        background-color: var(--color-sand);
        border-radius: 20px 20px 0px 0px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .feedTitle{
        color: var(--color-terracotta);

        font-size: 2rem;
        font-family: "Cal Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .feedAuthor,
    .feedLocation{
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings:
        "wdth" 100;
    }

    .feedAuthor{
        margin-top: 30px;
        font-size: 1rem;
        font-weight: 600;
    }

    .feedLocation{
        font-size: 0.8rem;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.541);
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 700px) {
        .feedTitle{
            font-size: 1.5rem;
        }


        .feedAuthor{
            margin-top: 25px;
            font-size: 0.8rem;
        }
    }
/*  */


/* >>>>> FEED POST CONTENT <<<<< */
    .feedPostContent{
        width: 100%;
        font-size: 1.3rem;
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings:
        "wdth" 100;

        padding: 30px;

        background-color: var(--color-card);
        border-radius: 0px 0px 20px 20px;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 700px) {
        .feedPostContent{
            font-size: 1rem;
        }
    }
/*  */